server:
  port: 8080

spring:
  profiles:
    active: h2
  application:
    name: desafio-grupo-mateus
  datasource:
    url: jdbc:h2:mem:productdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: DEBUG

